<link rel="stylesheet" href="css/user.css" />

<section class="login-block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
          <!-- FORM FOR NEW PASSWORD -->
        <% if(typeof reset !== 'undefined') {%>
            <form class="md-float-material form-material" action="/resetPassword" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                
                <input type="hidden" name="email" value="<%= email %>">
                  <div class="auth-box card">
                      <div class="card-block">
                          <div class="row">
                              <div class="col-md-12">
                                  <h3 class="text-center heading">Reset Password</h3>
                                      <% if (typeof(msg) !== 'undefined') {%>
                                          <div class="alert alert-<%= type2 %>  alert-dismissible fade show" role="alert">
                                              <%= msg %>
                                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                              </button>
                                          </div>
                                      <% } %> 
                                    </div>
                                </div>
                                <small>Minimum 6 Characters.. <abbr title="You have to Re-Verify your account after changing your password."><i class="fas fa-info"></i></abbr></small>
                                <div class="form-group form-primary"> <input type="password" class="form-control" name="password" value="" placeholder="Password" id="password"> </div>
                                <div class="row">
                                  <div class="col-md-12"> 
                                      <button type="submit" class="btn btn-success btn-md btn-block waves-effect text-center m-b-20"><i class="far fa-check-circle"></i> Confirm</button>
                                  </div>
                                </div>
                            </div>
                        </div>
            </form> 
            <% } else { %>   
                <!-- FORM FOR EMAIL INPUT -->
                <form class="md-float-material form-material" action="/forgot-password" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                      <div class="auth-box card">
                          <div class="card-block">
                              <div class="row">
                                  <div class="col-md-12">
                                      <h3 class="text-center heading">Enter your email</h3>
                                          <% if (typeof(msg) !== 'undefined') {%>
                                              <div class="alert alert-<%= type2 %>  alert-dismissible fade show" role="alert">
                                                  <%= msg %>
                                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                      <span aria-hidden="true">&times;</span>
                                                  </button>
                                              </div>
                                          <% } %> 
                                        </div>
                                    </div>
                                    <div class="form-group form-primary"> <input type="text" class="form-control" name="email" value="" placeholder="Email" id="email"> </div>
                                    <div class="row">
                                      <div class="col-md-12"> 
                                          <button type="submit" class="btn btn-success btn-md btn-block waves-effect text-center m-b-20"><i class="fas fa-key"></i> Send Reset Link</button>
                                      </div>
                                    </div>
                                </div>
                            </div>
                  </form>      
        <% } %> 
       </div>
    </div>
  </div>
</section>
